// .features {
//   margin-bottom: 0;
//   padding-top: 94px;
// }

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  display: block;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: var(--fonts-color);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
